<h1>About</h1>
<p> I used to be a VHDL programmer. Now I am learning to develop websites, which is at the other end of the spectrum. VHDL is the programming language that is farthest away from what is visible on the screen. It could be argued that VHDL programmers are actually hardware engineers. Now I get to make things look good on the screen.</p>
