<%
=begin # file-header ####################################################
Developer   : Ruben Verstraten
File        : about.html.erb
Project     : CareerFoundry WebDev Course Webshop
Date        : 2018-06-04
Description : HTML about
=end # file-header ######################################################
%>

<h1>About</h1>
<p>The following image is not me. It is an image of me.</p>
<%= image_tag("2015_07_18_RV_Pasfoto.png",
  class: "passport_photo img-responsive",
  width: "10%",
  alt: "RV_Passport_Photo")
%>
