<h1>Contact</h1>
<p> <span class="glyphicon glyphicon-envelope"></span> <span  title="Form usage preferred" data-toggle="tooltip" data-placement="right">&nbsp;rp.verstraten@gmail.com</span></p>
<p class="contact_telno"><span class="glyphicon glyphicon-phone"></span><span  title="Form usage preferred" data-toggle="tooltip" data-placement="right">&nbsp;06-18274548</span></p>
<iframe id="contact_iframe" width="1000px" height="600px"  frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJX5G5YygsxEcRIKXy4MfJJ0w&key=AIzaSyCbCL-tj3ByKO5gHvflg2tA_Lnhf5Wm7Wg" allowfullscreen></iframe>
