<h1>Home</h1>
<p>The following image is not me. It is an image of me.</p>
<%= image_tag("2015_07_18_RV_Pasfoto.png",
  class: "home_passport_photo img-responsive",
  width: "10%",
  alt: "RV_Passport_Photo")
%>
