// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  table-layout: fixed;
}

.text-overflow {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-main-bottom-spacing {
  padding-top: 40px;
}
.product-new-bottom-spacing {
  padding-top: 40px;
}
.product-edit-bottom-spacing {
  padding-top: 40px;
}
.product-show-bottom-spacing {
  padding-top: 40px;
}

#products_form_name {
  width: 100%;
}

#products_form_description {
  width: 100%;
  resize: none;
  height: 5em;
}

#products_form_color {
  width: 100%;
}

#products_form_price {
  width: 100%;
}

#products_form_image_url {
  width: 100%;
}

.product_aspect_ratio_outer_2 {
  position: relative;
  width: 100%;
  padding-bottom: calc(100% + 150px);
  margin: 0;
  overflow: hidden;
  margin-bottom: 10%;
  background-color: white;
  color: black;
}
.product_aspect_ratio_inner_2 {
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  text-align: center;
}
.product_image_2 {
  width: 100%;
  padding: 0;
  margin: 0;
}
