<div id="product-reviews">

  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>

  <hr>

  <!-- Info about will_paginate: https://www.youtube.com/watch?v=MIf1ojX2AGY -->
  <%= will_paginate @comments %>

</div>
